// **
// *  Site Kit main CSS
// *  @author David Cloutman
// *  @copyright 2018
// *  @license MIT
// *

//  ***********************************************************
//  *****    ______            _____                      *****
//  *****   / ____/___  ____  / __(_)___ ___  __________  *****
//  *****  / /   / __ \/ __ \/ /_/ / __ `/ / / / ___/ _ \ *****
//  ***** / /___/ /_/ / / / / __/ / /_/ / /_/ / /  /  __/ *****
//  ***** \____/\____/_/ /_/_/ /_/\__, /\__,_/_/   \___/  *****
//  *****                        /____/                   *****
//  ***********************************************************


// Define display rules by screen width. 
$mobileMaxWidth: 500px;
$tabletMaxWidth: 1024px;

// **
// * Set hard values around sizing.
// *
$desktopWrapperMaxWidth: 1240px;
$siteHeaderHeight: 120px;
$footerHeight: 20px;

$pageHeaderHeight: 60px;
$leftNavWidth: 120px;
$siteContentVerticalPadding: 1em;

$pageHeaderVerticalPadding: calc(#{$leftNavWidth} + #{$siteContentVerticalPadding});


// **
// * Defite a site color palate. The color palate
// * consists of a primary, secondary, tertiary and
// * gray color pairs, each with a dark and light
// * variant. If your site design requires more colors
// * you might consider simplifying your palate. A
// * limited number of colors builds a better brand and
// * visual identity.
// *
$colorPrimaryDark: #EC6B06;
$colorPrimaryLight: #F6B994;
$colorSecondaryLight: #888;
$colorSecondaryDark: #1D1D1D;
$colorTertiaryLight: #E1ECF8;
$colorTertiaryDark: #6F9ABB;
$colorGrayDark: #1D1D1D;
$colorGrayLight: #888;
$colorBlack: #000;
$colorWhite: #fff;

// **
// * Select this value from your color palate defined above.
// *
$siteBackgroundColor: $colorTertiaryDark;
$sectionHeadlineColor: $colorPrimaryDark;

$pageHeadlineColor: $colorBlack;

// **
// * Font selections.
// *
$sitePrimaryFont: Ubuntu, Verdana, sans-serif;
$siteSecondaryFont: Newtown, Bitstream Vera Sans, sans-serif;
$siteSecondaryFontWeight: normal;
$siteSecondaryMonoFont: Bitstream Vera Sans Mono, monospace;

// /////////////////////// STOP EDITING ///////////////////////




//  ************************************************************
//  *****      ______                            __        *****
//  *****     / ____/___  ____ ___  ____  __  __/ /____    *****
//  *****    / /   / __ \/ __ `__ \/ __ \/ / / / __/ _ \   *****
//  *****   / /___/ /_/ / / / / / / /_/ / /_/ / /_/  __/   *****
//  *****   \____/\____/_/ /_/ /_/ .___/\__,_/\__/\___/    *****
//  *****                       /_/                        *****
//  ************************************************************

// **
// * Calculate other sane values from user-defined values from
// * above. Change
// *
$tabletMinWidth: $mobileMaxWidth + 1;
$desktopMinWidth: $tabletMaxWidth + 1;
$desktopWrapperMinWidth: $tabletMaxWidth + 1;


@mixin valign {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);

}

/***********************************************************
 *****               _____ __        __                *****
 *****              / ___// /___  __/ /__              *****
 *****              \__ \/ __/ / / / / _ \             *****
 *****             ___/ / /_/ /_/ / /  __/             *****
 *****            /____/\__/\__, /_/\___/              *****
 *****                     /____/                      *****
 ***********************************************************/

\:root {
    /* Include borders and padding in box measurments. */
    box-sizing: border-box;

    /* This sets a baseline measurment for all em units in the
       stylesheet and the value of 1rem.
    */
    font-size: 12px;

    /*overflow: auto;   */
}

body {
    margin: 0;
    background-color: $siteBackgroundColor;

    font-family: $sitePrimaryFont;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

h1, h2, h3, blockquote {
    font-family: $siteSecondaryFont;
    font-weight: $siteSecondaryFontWeight;
}

nav ul {
    text-align: left;
    padding: 0;
    margin: 0;
}

nav ul>li {
    list-style: none;
    width: auto;
}


#leftNav {
    display: block;

    >ul>li {
        line-height: 1.5em;
        margin-bottom: 2px;

        text-align: center;

        color: $colorTertiaryLight;
        background-color: $colorPrimaryDark;  
    }  
}

.banner {
    width: 100%;
}


/*
"[The]difference between wrapper and container elements. In programming languages, 
 the word container is generally used for structures that can contain more than
 one element. A wrapper, on the other hand, is something that wraps around a single
 object to provide more functionality and interface to it."
 - K. Kosev https://css-tricks.com/best-way-implement-wrapper-css/
*/ 

/**
 * A wrapper is an outer layer between the <body /> tag and other HTML elements.
 */
.wrapper {
    margin: 0 auto;
    padding: 0;
    min-width: $desktopWrapperMinWidth;
    max-width: $desktopWrapperMaxWidth;

}

/**
 *  This is the main wrapper that should wrap most or all of the site content.
 */
#wrapper.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: $siteHeaderHeight auto $footerHeight;
    min-height: 100vh;
}

/**
 * A container is the outer layer of a component. Useful for grids and flex layouts.
 */
.container {}

#siteHeader {
    display: grid;
    grid-template-rows: auto 1.1em;

    font-size: 2em;
    border-bottom: 1px solid $colorGrayDark;

    >#masthead>div.container {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;

        /*@include valign;*/

        #logo {
            background: url(../images/me.jpg);
            background-repeat: no-repeat;
            background-size: 198%;
            background-position-x: 41%;
            background-position-y: 0;
            width: 84px;
            height: 84px;
            margin: .8em;
            background-clip: border-box;

            border-radius: 5px;
        }

        #mastheadText {
            padding-left: 1em;
        }

    }

    #topNavWrapper {
        background-color: $colorTertiaryDark;
    }
}

#topNav {
    display: block;
    >ul {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        >li{
            color: #fff;
            background-color: $colorGrayDark;
            font-size: .5em;
            margin-right: 2em;
            padding: .5em 1em;
        }
    }
}

#pageHeader>h1 {
    color: $colorBlack;
    line-height: 2em;
    /*text-shadow: 0 0 .5em $colorPrimaryDark;*/
}

main {
    background-color: #fff;
    /*min-height: calc(100vh - #{$siteHeaderHeight} - #{$footerHeight});*/
}

main>#mainColumns>.container {
    display: grid;
    grid-template-columns: $leftNavWidth auto;
}

#pageHeader {
    background-color: $colorTertiaryLight;
    background: linear-gradient($colorTertiaryLight 80%, $colorWhite);
    height: $pageHeaderHeight;
    /*overflow: auto;*/

    padding-left: $pageHeaderVerticalPadding;
    padding-right: $pageHeaderVerticalPadding;
}


#siteContent {
    padding-left: $siteContentVerticalPadding;
    padding-right: $siteContentVerticalPadding;


    header>h2 {
        color: $sectionHeadlineColor;
        /*text-shadow: 0 0 .075em $colorGrayLight;*/
    }
}

footer {
    height: $footerHeight;
    color: $colorGrayDark;
    background-color: $colorGrayLight;

    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: $colorGrayDark;

    font-size: .8em
}
#mobileNavButton {
    display: none;
    width: 60px;
    height: 60px;

    background-image: url('../images/hamburger.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-right: 1em;
} 


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/**
 * Anything but the desktop.
 */
@media screen and (max-width: $tabletMaxWidth) {
    #siteHeader {
        grid-template-rows: auto;
    }

    #topNavWrapper {
        display: none;
    }


    #leftNav {
        display: none;
    }

    #pageHeader {
        padding-left: $siteContentVerticalPadding;
        padding-right: $siteContentVerticalPadding;
    }

    /* Handle the disappearing left navigation. */
    main>#mainColumns>.container {
        display: grid;
        grid-template-columns: auto;
    }    
}

/**
 * Tablets and small monitors
 */
@media screen and (min-width: $tabletMinWidth) and (max-width: $tabletMaxWidth) {
    .wrapper {
        width: 100vw;
        min-width: $tabletMinWidth;
        max-width: $tabletMaxWidth;
    }

    #mobileNavButton {
        display: block;
    }
}

/**
 * Mobile
 */
@media screen and (max-width: $mobileMaxWidth) {
    .wrapper {
        width: 100vw;
        min-width: 0;
        max-width: $mobileMaxWidth;
    }

    #mobileNavButton {
        display: block;
    }


    body {
        font-size: 11px;

    }
}


/**
 * HELPERS
 * These are utility classes.
 */

/**
 * Display and visibility.
 */
.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.noDisplay {
    display: none;
}

/**
 * Font stylings.
 */
.standoutText {
    color: #fff;
    font-family: $siteSecondaryFont;
    font-size: 1.2 em;
}

/**
 * These should be generally used for non-inline elements but could
 * be used to create highlighted text.
 */
.darkColorScheme {
    background-color: $colorPrimaryDark;
    color: $colorSecondaryDark;
}

.darkInverseColorScheme {
    background-color: $colorSecondaryDark;
    color: $colorPrimaryDark;
}

.lightColorScheme {
    background-color: $colorPrimaryLight;
    color: $colorSecondaryLight;
}

.lightInverseColorScheme {
    background-color: $colorSecondaryLight;
    color: $colorPrimaryLight;
}

.darkBlendedColorScheme {
    background-color: $colorPrimaryDark;
    color: $colorSecondaryDark;
}

.lightBlendedColorScheme {
    background-color: $colorPrimaryLight;
    color: $colorSecondaryLight;
}

.lightBlendedInverseColorScheme {
    background-color: $colorSecondaryLight;
    color: $colorPrimaryLight;
}

.grayColorScheme {
    background-color: $colorGrayLight;
    color: $colorGrayLight;
}

.grayColorSchemeInversed {
    background-color: $colorGrayDark;
    color: $colorGrayLight;
}

.readableColorScheme {
    background-color: #fff;
    color: $colorGrayDark;
}

.readableColorSchemeInversed {
    background-color: $colorGrayDark;
    color: #fff;    
}

.blackAndWhiteColorScheme {
    background-color: #fff;
    color: $colorBlack;
}

.whiteAndBlackColorScheme {
    background-color: $colorBlack;
    color: #fff;
}
