/***********************************************************
 *****               _____ __        __                *****
 *****              / ___// /___  __/ /__              *****
 *****              \__ \/ __/ / / / / _ \             *****
 *****             ___/ / /_/ /_/ / /  __/             *****
 *****            /____/\__/\__, /_/\___/              *****
 *****                     /____/                      *****
 ***********************************************************/
\:root {
  /* Include borders and padding in box measurments. */
  box-sizing: border-box;
  /* This sets a baseline measurment for all em units in the
     stylesheet and the value of 1rem.
  */
  font-size: 12px;
  /*overflow: auto;   */ }

body {
  margin: 0;
  background-color: #6F9ABB;
  font-family: Ubuntu, Verdana, sans-serif; }

h1, h2, h3 {
  margin: 0;
  padding: 0; }

h1, h2, h3, blockquote {
  font-family: Newtown, Bitstream Vera Sans, sans-serif;
  font-weight: normal; }

nav ul {
  text-align: left;
  padding: 0;
  margin: 0; }

nav ul > li {
  list-style: none;
  width: auto; }

#leftNav {
  display: block; }
  #leftNav > ul > li {
    line-height: 1.5em;
    margin-bottom: 2px;
    text-align: center;
    color: #E1ECF8;
    background-color: #EC6B06; }

.banner {
  width: 100%; }

/*
"[The]difference between wrapper and container elements. In programming languages, 
 the word container is generally used for structures that can contain more than
 one element. A wrapper, on the other hand, is something that wraps around a single
 object to provide more functionality and interface to it."
 - K. Kosev https://css-tricks.com/best-way-implement-wrapper-css/
*/
/**
 * A wrapper is an outer layer between the <body /> tag and other HTML elements.
 */
.wrapper {
  margin: 0 auto;
  padding: 0;
  min-width: 1025px;
  max-width: 1240px; }

/**
 *  This is the main wrapper that should wrap most or all of the site content.
 */
#wrapper.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 120px auto 20px;
  min-height: 100vh; }

/**
 * A container is the outer layer of a component. Useful for grids and flex layouts.
 */
#siteHeader {
  display: grid;
  grid-template-rows: auto 1em;
  font-size: 2em;
  border-bottom: 1px solid #1D1D1D; }
  #siteHeader > #masthead > .container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%); }
    #siteHeader > #masthead > .container #logo {
      background: url(../images/me.jpg);
      background-repeat: no-repeat;
      background-size: 198%;
      background-position-x: 41%;
      background-position-y: 0;
      width: 84px;
      height: 84px;
      background-clip: border-box;
      border-radius: 5px; }
    #siteHeader > #masthead > .container #mastheadText {
      padding-left: 1em; }
  #siteHeader #topNavWrapper {
    background-color: #6F9ABB; }

#topNav {
  display: block; }
  #topNav > ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap; }
    #topNav > ul > li {
      color: #fff;
      font-size: .5em;
      margin-right: 2em;
      padding: .5em 1em; }

#pageHeader > h1 {
  color: #000;
  line-height: 2em;
  /*text-shadow: 0 0 .5em $colorPrimaryDark;*/ }

main {
  background-color: #fff;
  /*min-height: calc(100vh - 120px - 20px);*/ }

main > #mainColumns > .container {
  display: grid;
  grid-template-columns: 120px auto; }

#pageHeader {
  background-color: #E1ECF8;
  background: linear-gradient(#E1ECF8 80%, #fff);
  height: 60px;
  /*overflow: auto;*/
  padding-left: calc(120px + 1em);
  padding-right: calc(120px + 1em); }

#siteContent {
  padding-left: 1em;
  padding-right: 1em; }
  #siteContent header > h2 {
    color: #EC6B06;
    /*text-shadow: 0 0 .075em $colorGrayLight;*/ }

footer {
  height: 20px;
  color: #1D1D1D;
  background-color: #888;
  border-width: 2px 0 0 0;
  border-style: solid;
  border-color: #1D1D1D;
  font-size: 0.8em; }

#mobileNavButton {
  display: none;
  width: 60px;
  height: 60px;
  background-image: url("../images/hamburger.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  margin-right: 1em; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

/**
 * Anything but the desktop.
 */
@media screen and (max-width: 1024px) {
  #siteHeader {
    grid-template-rows: auto; }

  #topNavWrapper {
    display: none; }

  #leftNav {
    display: none; }

  #pageHeader {
    padding-left: 1em;
    padding-right: 1em; }

  /* Handle the disappearing left navigation. */
  main > #mainColumns > .container {
    display: grid;
    grid-template-columns: auto; } }
/**
 * Tablets and small monitors
 */
@media screen and (min-width: 501px) and (max-width: 1024px) {
  .wrapper {
    width: 100vw;
    min-width: 501px;
    max-width: 1024px; }

  #mobileNavButton {
    display: block; } }
/**
 * Mobile
 */
@media screen and (max-width: 500px) {
  .wrapper {
    width: 100vw;
    min-width: 0;
    max-width: 500px; }

  #mobileNavButton {
    display: block; }

  body {
    font-size: 11px; } }
/**
 * HELPERS
 * These are utility classes.
 */
/**
 * Display and visibility.
 */
.visible {
  visibility: visible; }

.hidden {
  visibility: hidden; }

.noDisplay {
  display: none; }

/**
 * Font stylings.
 */
.standoutText {
  color: #fff;
  font-family: Newtown, Bitstream Vera Sans, sans-serif;
  font-size: 1.2 em; }

/**
 * These should be generally used for non-inline elements but could
 * be used to create highlighted text.
 */
.darkColorScheme {
  background-color: #EC6B06;
  color: #1D1D1D; }

.darkInverseColorScheme {
  background-color: #1D1D1D;
  color: #EC6B06; }

.lightColorScheme {
  background-color: #F6B994;
  color: #888; }

.lightInverseColorScheme {
  background-color: #888;
  color: #F6B994; }

.darkBlendedColorScheme {
  background-color: #EC6B06;
  color: #1D1D1D; }

.lightBlendedColorScheme {
  background-color: #F6B994;
  color: #888; }

.lightBlendedInverseColorScheme {
  background-color: #888;
  color: #F6B994; }

.grayColorScheme {
  background-color: #888;
  color: #888; }

.grayColorSchemeInversed {
  background-color: #1D1D1D;
  color: #888; }

.readableColorScheme {
  background-color: #fff;
  color: #1D1D1D; }

.readableColorSchemeInversed {
  background-color: #1D1D1D;
  color: #fff; }

.blackAndWhiteColorScheme {
  background-color: #fff;
  color: #000; }

.whiteAndBlackColorScheme {
  background-color: #000;
  color: #fff; }

/*# sourceMappingURL=main.css.map */
